<head>
    <meta charset="utf-8">
</head>
<body>
    <h1>Home</h1>
    <a href="/create">Create Event</a> <br />
    <h3>Your Events:</h3>
    <% for(var i=0; i<events.length; i++){ %>
        <div>
            <label>Name: </label> <%= events[i].name %>
            <label>ID: </label> <%= events[i]._id %>
            <a href="/update/<%= events[i]._id %>">Update</a> <span>   </span>
            <a href="/delete/<%= events[i]._id %>">Delete</a>
        </div>
    <% } %>
    <br />
    <a href="/logout">Logout</a> <br />
</body>
