<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Register Organisation</title>
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="css/mdb.min.css" rel="stylesheet">
  <!-- Your custom styles (optional) -->
  <link href="css/style.css" rel="stylesheet">
</head>

<body>

<!-- Default form login -->
<div class='container w-50 p-3'>
    <form class="text-center border border-light p-5" action='/register' method='post'>

        <p class="h4 mb-4">Register</p>
    
        <!-- Organisation Name -->
        <input name='name' type="text" id="defaultLoginFormFirstName" class="form-control mb-4" placeholder="Name ihrer Organisation">
    
        <!-- Email -->
        <input name='email' type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="Email">

        <!-- Organisation Link -->
        <input name='link' type="text" id="defaultLoginFormFirstName" class="form-control mb-4" placeholder="Link zu ihrer Webiste">

        <!-- Message -->
        <div class="form-group">
            <textarea name='description' class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Beschreibung"></textarea>
         </div>
    
        <!-- Sign in button -->
        <button class="btn btn-info btn-block my-4" type="submit">Register</button>
    
    </form>
</div>
<!-- Default form login -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/popper.min.js"></script>
  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/mdb.min.js"></script>
</body>

</html>